<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.merxury.blocker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="moe.shizuku.manager.permission.API_V23" />
    <uses-permission android:name="moe.shizuku.manager.permission.API" />

    <application
        android:name=".BlockerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.home.HomeActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.OverlapSystemBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.component.ComponentActivity"
            android:theme="@style/AppTheme.OverlapSystemBar" />
        <activity
            android:theme="@style/AppTheme.PlayStoreStyle"
            android:name=".ui.settings.SettingsActivity"
            android:launchMode="singleTask"
            android:label="@string/title_activity_settings" />
    </application>

</manifest>